```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
multitaller/instance/*.db

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
pip-log.txt
pipenv.lock

# Coverage reports
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
```